.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(230, 243, 255);
  height: 99vh;
}

h1 {
  text-align: center;
  color: rgb(51, 51, 153);
}

h3, h2 {
  text-align: center;
  color: rgb(51, 51, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  padding: 5px;
  color: rgb(51, 51, 204);
}

.App-link {
  color: #61dafb;
}
